---
import Layout from '@layouts/Layout.astro';
import { Button } from "@components/starwind/button";

const data = {
  span: "I'm",
  title: 'Rifky Alamsyah',
  desc: 'UI Designer & Front-End Web Developer.',
  cta: 'Discover 👀'
};
---

<Layout>
	<main class='mt-auto'>
		<section id='hero'>
			<div class='container mx-auto'>
				<div class="h-screen flex flex-col items-center justify-center gap-2">
					<h1 class='text-center text-3xl sm:text-6xl font-light'>{data.title}</h1>
					<p class='text-center text-xl font-light text-slate-500 dark:text-slate-300'>{data.desc}</p>
					<Button href='/about' class='rounded-full mt-2'>{data.cta}</Button>
				</div>
			</div>
		</section>
	</main>
</Layout>
