---
import '@styles/tailwind.css';
import '@styles/starwind.css';
import '@fontsource-variable/Outfit';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Rifky Alamsyah</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: 'Outfit Variable', sans-serif;
  }
</style>
