---
import '@styles/tailwind.css';
import '@styles/starwind.css';
import Head from './Head.astro';
---

<!doctype html>
<html lang='en'>
  <Head title='Rifky Alamsyah' desc="UI Designer & Front-End Web Developer."/>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: var(--font-outfit);
  }
</style>
